<h2 class="title">图标作者：</h2>
<div class="author">
  <img class="avatar" src="/sylvan wang.jpg" alt="avatar" />
  <a
    class="link"
    target="_blank"
    rel="noopener noreferrer"
    href="https://www.yuque.com/wanghongyuan-npzpu/dr49gw/yzlgaxuyb37lgehl?singleDoc">Sylvan Wang</a
  >
</div>

<style>
  .title {
    font-size: 16px !important;
    text-align: center;
  }

  .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  .link {
    text-decoration: none !important;
  }
</style>
