<h2 class="title">可用于：</h2>

<div class="package-list">
  <img src="/framework/svelte.svg" alt="Svelte" />
  <img src="/framework/react.svg" alt="React" />
  <img src="/framework/vue.svg" alt="Vue" />
  <img src="/framework/solid.svg" alt="Solid" />
</div>

<style>
  .title {
    font-size: 16px !important;
    text-align: center;
  }

  .package-list {
    margin-top: 16px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .package-list img {
    margin-top: 0 !important;
    width: 36px;
    aspect-ratio: 1;
  }
</style>
